colorzero==2.0
djitellopy==2.4.0
gpiozero==1.6.2
lgpio==0.0.0.2
numpy==1.21.1
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
pigpio==1.78
Pillow==9.5.0
pkg-resources==0.0.0
pygame==2.3.0
RPi.GPIO==0.7.1
RPIO==0.10.0
smbus==1.1.post2
